.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 20px 0;
}

.inputLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.inputLine div {
  font-size: 1.1em;
  color: #666;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
